.brands {
  padding: 40px 0 80px 0;
  //box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-height: 710px;
  background: rgba(196, 196, 196, 0.25);
  //box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 2;

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

    img {
      display: flex;
      max-width: 130px;
      min-height: 100px;
    }
  }

  .slide-wrap {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    transition: 300ms;
  }

  .slideshow {
    position: relative;
    z-index: 10;
  }

  .slide-entry {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    padding: 10px 5%;
    transition: 300ms;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .slide-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 50%;
    transform: translateY(-60%);
    width: 100%;
    list-style: none;
    padding: 0;
    z-index: 0;
    z-index: 2;

    li {
      cursor: pointer;
      color: #ccc;
      font-size: 25px;
    }
  }

  #prev-slide {
    margin-left: -60px;
    z-index: 2;
    margin-top: 60px;
  }

  #next-slide {
    margin-right: -60px;
    z-index: 2;
    margin-top: 60px;
  }

  /* Responsive Video Embeds
  =========================================================
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    
  }
 */
}

.brands::before {
  content: url("../img/brands/basket.png");
  position: absolute;
  top: -440px;
  right: 0;
  z-index: 1;
}
