.gift {
  &__title {
    font-size: 50px;
    margin-top: 80px;
    span {
      font-size: 80px;
      color: $main-color;
      line-height: 0.5;
    }
  }

  &__subtitle {
    font-size: 22px;
    margin-top: 20px;
    font-weight: normal;
  }
  &__advantages {
    display: flex;
    font-size: 18px;
    margin-top: 20px;
  }
  &__description {
    z-index: 2;
  }
}

.gift::before {
  content: url("../img/gift/mockup.png");
  position: absolute;
  top: -20%;
  left: 40%;
  z-index: 1;
}
