.header {
    &__logo {
        max-width: 200px;
        padding: 5px 0;
    }

    &__line {
        background-color: $main-color;
        opacity: 0.4;
        height: 1px;
        border: none;
    }

    &__description {
        font-family: 'Comfortaa', sans-serif;
        font-size: 14px;
        color: $custom-black;
    }

    .menu {
        &__list {
            display: flex;
            justify-content: space-between;
        }

        &__link {
            font-size: 14px;
            font-weight: 500;
            padding: 20px 0;

            &:last-child {
                flex-basis: 35%;
                text-align: right;
                margin: 0;
            }

            a {
                color: $custom-black;
                text-decoration: none;
                transition: 0.6s all;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }

    .submenu {
        background: $custom-orange;

        &__list {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
        }

        &__link {
            font-family: "Comfortaa", sans-serif;
            font-weight: bold;
            font-size: 14px;

            a {
                transition: 0.6s all;
                color: $custom-grey;

                &:hover {
                    color: $custom-black;
                }
            }
        }
    }

    .hamburger {
        display: none;
    }

    .sticky {
        background-color: $custom-orange;
    }

    .phone {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &__link {
            color: $custom-black;
            transition: 0.3s all;
            text-decoration: none;
            font-size: 22px;
            font-weight: 600;

            &:hover {
                color: $main-color;
            }
        }

        &__workhours {
            color: $custom-black;
            font-size: 12px;
            font-family: "Comfortaa", sans-serif;
        }
    }

    &__promo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        span {
            font-size: 12px;
            color: $custom-black;
        }
    }
}