.header {
  .menu {
    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__link {
      font-size: 16px;
      font-weight: 500;
      padding: 20px 0;

      &:last-child {
        flex-basis: 35%;
        text-align: right;
        margin: 0;
      }

      a {
        color: $custom-black;
        text-decoration: none;
        transition: 0.6s all;

        &:hover {
          color: $main-color;
        }
      }
    }
  }
  &__promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    z-index: 99999;
    background: $custom-grey;
    opacity: 0.9;
  }
  &__logo {
    max-width: 218px;
    padding: 5px 0;
  }

  &__line {
    background-color: $main-color;
    opacity: 0.4;
    height: 1px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .note {
    display: flex;
    span {
      font-weight: bold;
      font-size: 16px;
    }
    &__item {
      display: flex;
      margin-right: 20px;
    }

    &__icon {
      margin-top: -10px;
      padding-right: 10px;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__link {
      color: $custom-black;
      transition: 0.3s all;
      text-decoration: none;
      font-size: 22px;
      font-weight: 500;

      &:hover {
        color: $main-color;
      }
    }

    &__workhours {
      color: $custom-black;
      font-size: 14px;
    }

    &__mail {
      top: -5px;
      a {
        font-size: 16px;
        font-weight: bold;
        color: $custom-black;
      }

      img {
        top: 8px;
      }
    }
  }

  .submenu {
    &__list {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
    }

    &__link {
      font-family: "Gilroy", sans-serif;
      font-size: 16px;
      font-weight: bold;

      a {
        transition: 0.6s all;
        color: $custom-black;

        text-transform: uppercase;

        &:hover {
          color: $main-color;
        }
      }
    }
  }

  .hamburger {
    display: none;
  }

  .sticky {
    background-color: $custom-grey;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
    background: rgba(196, 196, 196, 0.25);
    //box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    opacity: 0.9;
  }
}
