.messengers {
  padding: 40px 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  &__slider {
    img {
      position: absolute;
      top: 80px;
    }
  }
  &__flower {
    top: 40px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-top: 10%;
  }

  &__caption {
    color: $main-color;
    text-align: right;
    font-size: 16px;
    font-weight: 900;
  }

  &__title {
    font-size: 50px;
    text-align: right;
    margin-top: 20px;
  }

  &__subtitle {
    font-size: 18px;
    margin-top: 40px;
    text-align: right;
    font-weight: normal;
  }
}

/* .messengers__title::after {
  content: url("../img/messengers/Flower.png");
  position: absolute;
  top: -150px;
  right: -100px;
} */

/* .messengers__slider::before {
  content: url("../img/messengers/bg-phone.png");
  position: absolute;
  max-width: 355px;
  max-height: 459px;
  top: -40px;
  left: 0;
}
 */

.bold {
  font-weight: 800;
}
