.promo {
    /* margin-top: 60px; */
    padding: 120px 0 0px 0;
    background-color: $custom-grey;

    &__description {
        margin-top: 15px;
        line-height: 1.5;
        //text-align: center;
    }

    &__subtitle {
        color: $custom-black;
        font-family: 'Comfortaa', sans-serif;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    &__wrapper {
        background: url('../img/promo/promo_bg.jpg') (center / cover) no-repeat;
        //opacity: 0.7;
        margin-top: 120px;
        padding: 120px 0;
        z-index: 2;
    }

    &__numbers {
        position: absolute;
        width: 97%;
        top: 125%;
    }
}

.numbers {


    &__items {
        display: flex;
        justify-content: space-around;
        background-color: $custom-orange;
        padding: 30px 60px;
        z-index: 3;
        top: -55px;
        box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.1);

        p {
            text-align: center;
            font-family: 'Comfortaa', sans-serif;
            color: $custom-grey;
            font-size: 25px;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $custom-grey;
        font-size: 50px;
        font-weight: 400;

        sup {
            font-size: 25px;
            padding-left: 15px;
        }
    }

    .rl {

        &:before {
            content: "";
            position: absolute;
            top: 5px;
            right: -60px;
            width: 1px;
            height: 80px;
            background: $custom-grey;
        }
    }
}