.quiz {
    background: url("../img/header/quiz_bg.jpg") (center / cover) no-repeat;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.1);
    height: 500px;

    .container {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: 'Comfortaa', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: $custom-grey;

        span {
            display: block;
            text-transform: uppercase;
            color: $custom-orange;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 35px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
    }

    &__promo {
        display: flex;
        align-items: center;
        margin-top: 80px;
    }

    .bonus {
        &__subtitle {
            font-size: 20px;
            color: $custom-grey;
            font-family: 'Comfortaa', sans-serif;
            margin-top: 40px;
        }

        &__wrapper {
            display: flex;
        }


        &__first,
        &__second {
            display: flex;
            margin-top: 20px;

            img {
                max-width: 100px;
            }

            span {
                font-family: 'Montserrat', sans-serif;
                color: $custom-grey;
                font-size: 14px;
                font-weight: 500;
                margin-left: 10px;

                span {
                    color: $custom-orange;
                    font-weight: 600;
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
        }

        &__second {
            margin-left: 20px;
        }
    }
}