.title {
    font-family: 'Gilroy', sans-serif;
    color: $custom-black;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    z-index: 2;
}

.caption {
    font-family: 'Gilroy', sans-serif;
    color: $main-color;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
}