@-webkit-keyframes opas {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opas {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOpas {
    0% {
        -webkit-transform: translateY(110%);
        transform: translateY(110%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOpas {
    0% {
        -webkit-transform: translateY(110%);
        transform: translateY(110%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes tooltipShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tooltipShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(-360deg);
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(-360deg);
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@-webkit-keyframes deg {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes deg {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes jamp {
    0% {
        margin-top: 0;
    }

    15% {
        margin-top: -1rem;
    }

    25% {
        margin-top: 0;
    }

    35% {
        margin-top: -0.5rem;
    }

    45% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes jamp {
    0% {
        margin-top: 0;
    }

    15% {
        margin-top: -1rem;
    }

    25% {
        margin-top: 0;
    }

    35% {
        margin-top: -0.5rem;
    }

    45% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}

@-webkit-keyframes jampTrf {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    15% {
        -webkit-transform: translateY(-7%);
        transform: translateY(-7%);
    }

    25% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    35% {
        -webkit-transform: translateY(-3%);
        transform: translateY(-3%);
    }

    45% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes jampTrf {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    15% {
        -webkit-transform: translateY(-7%);
        transform: translateY(-7%);
    }

    25% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    35% {
        -webkit-transform: translateY(-3%);
        transform: translateY(-3%);
    }

    45% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0px;
    }

    30% {
        left: 110%;
        margin-left: 80px;
    }

    100% {
        left: 110%;
        margin-left: 80px;
    }
}

@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0px;
    }

    30% {
        left: 110%;
        margin-left: 80px;
    }

    100% {
        left: 110%;
        margin-left: 80px;
    }
}

@-webkit-keyframes pulseicon {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.7);
        transform: translate(-50%, -50%) scale(0.7);
    }

    50% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(0.7);
        transform: translate(-50%, -50%) scale(0.7);
    }
}

@keyframes pulseicon {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.7);
        transform: translate(-50%, -50%) scale(0.7);
    }

    50% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(0.7);
        transform: translate(-50%, -50%) scale(0.7);
    }
}

@-webkit-keyframes pulseiconLine {
    0% {
        -webkit-transform: translateX(-55%) scale(0.7);
        transform: translateX(-55%) scale(0.7);
    }

    50% {
        -webkit-transform: translateX(-65%) scale(1);
        transform: translateX(-65%) scale(1);
    }

    100% {
        -webkit-transform: translateX(-55%) scale(0.7);
        transform: translateX(-55%) scale(0.7);
    }
}

@keyframes pulseiconLine {
    0% {
        -webkit-transform: translateX(-55%) scale(0.7);
        transform: translateX(-55%) scale(0.7);
    }

    50% {
        -webkit-transform: translateX(-65%) scale(1);
        transform: translateX(-65%) scale(1);
    }

    100% {
        -webkit-transform: translateX(-55%) scale(0.7);
        transform: translateX(-55%) scale(0.7);
    }
}

@-webkit-keyframes scale-before {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.8);
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }

    50% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(0.8);
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
}

@keyframes scale-before {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.8);
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }

    50% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(0.8);
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
}

@-webkit-keyframes slide-up-in {
    0% {
        -webkit-transform: translate(0px, 100%) rotate(1deg);
        transform: translate(0px, 100%) rotate(1deg);
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

@keyframes slide-up-in {
    0% {
        -webkit-transform: translate(0px, 100%) rotate(1deg);
        transform: translate(0px, 100%) rotate(1deg);
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.03);
}