.advantages {
    &-items {
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        font-family: 'Gilroy', sans-serif;
        font-size: 10px;
        display: flex;
        align-items: center;
        width: 50%;
        margin-top: 15px;
        &__img {
            width: 50px;
        }
        &__description {
            font-size: 10px;
            padding-left: 16px;
        }
    }
}