.advantages {
    &-items {
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        display: flex;
        align-items: center;
        width: 50%;
        margin-top: 22px;
        &__img {
            width: 50px;
        }
        &__description {
            font-size: 12px;
            padding-left: 16px;
        }
    }
}