.audit {
    &-info {
        margin-top: 21px;
        font-size: 18px;
    }
    &-description {
        margin-top: 32px;
        font-size: 18px;
    }

    &-img {
        margin-top: 51px;
    }
}