@media (min-width: 425px) {
  .btn {
    &-promo {
      width: 308px;
      height: 74px;
    }
  }
}

@media (min-width: 1440px) {
  .btn {
    &-promo {
      margin-top: 100px;
      margin-bottom: 245px;
    }
  }
}
