@media (min-width: 425px) {
  .btn {
    &-promo {
      width: 301px;
      height: 66px;
    }
  }
}

@media (min-width: 1440px) {
  .btn {
    &-promo {
      margin-top: 100px;
      margin-bottom: 245px;
    }
  }
}
