.btn {
    font-family: 'Gilroy', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    &-promo {
        background: $blue;
        padding: 25px;
        border-radius: 15px;
        margin-top: 73px;
        color: white;
        border: none;
    }
    &-types {
        margin: 29px 0 38px 0;
        border: 1px solid $blue;
        border-radius: 10px;
        color: $blue;
        background: none;
        padding: 12px 35px 12px 35px;
    }
}