@media (min-width: 375px) {
  .header {
    .logo {
      &-img {
        width: 232px;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    .menu {
      width: 50%;
    }

    .phone {
      margin-top: -40px;
    }
  }
}

@media (min-width: 1024px) {
  .header {

    &-line {
      display: flex;
      background-color: $dark-grey;
      width: 100%;
    }
    .logo {
      display: none;
    }

    .phone {
      display: none;
    }

    .hamburger {
      display: none;
    }

    .menu {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      padding: 0;
      background-color: transparent;
      transition: 0.6s all;
      box-shadow: none;
      z-index: 2;

      &-list {

        display: flex;
        justify-content: space-between;
        flex-basis: 85%;
        margin-top: 0;

        &__item {
          position: relative;
          transition: 0.5s all;

          &:last-child {
            padding-bottom: 28px;
          }
        }
      }

      &-socials {
          display: flex;
          flex-basis: 10%;
          justify-content: space-between;
          font-size: 25px;
          &__link {
            color: #848484;
            transition: 0.5s all;
            &:hover {
              color: $blue;
            }
          }
      }

      .logo {
        display: flex;
        order: 2;

        &-img {
          width: 203px;
          padding-top: 25px;
        }
      }

      .bullets {
        display: flex;
        order: 3;
        flex-basis: 50%;
        padding-right: 0;
        &-item {
          &:last-child {
            margin-top: 0;
          }
        }
      }

      .phone {
        display: flex;
        order: 4;
        margin-top: 0;
        padding-top: 32px;
      }

      .sub {
        &-menu {
          &__list {
            display: none;
            position: absolute;
            top: 45px;
            left: 0;
            background-color: white;
            box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
            padding: 25px 100px 25px 25px;
            z-index: 9;
          }
        }
      }

      .menu-list__item:hover .sub-menu__list {
        display: block;
        transition: 0.5s all;
      }
    }
  }
}

@media (min-width: 1440px) {
  .header { 
    .menu {
    .e-mail {
      display: flex;
      order: 3;
      color: $black;
      font-size: 16px;
      font-weight: 900;
      transition: 0.5s all;
      &:hover {
        color: $blue;
      }
    }

  }
  }
}
