.mockup {
    &-reviews {
        &__info {
            margin-top: 39px;
            font-size: 18px;
        }
        &__slider {
            position: relative;
            display: block;
            margin: 15px auto;
            &:after {
                content: url('../../images/whatsapp-mockup/iPhone.png');
                position: absolute;
                top: 3%;
                left: 10%;
            }
            &-nav  {
                position: relative;
                display: flex; 
                justify-content: center;
                margin-top: 61px;
            }
        }


    }
}