.mockup {
    &-reviews {
        &__info {
            margin-top: 39px;
            font-size: 18px;
        }
        &__slider {
            position: relative;
            display: block;
            margin: 15px auto;
            &:after {
                content: url('../../images/whatsapp-mockup/iPhone.png');
                position: absolute;
                top: 3%;
                left: 10%;
            }
            &-nav  {
                position: absolute; 
                right: 20px;
                width: 128px;
                height: 64px;
            }
        }


    }
}