.title {
    font-family: "Gilroy", sans-serif;
    font-size: 22px;
    font-weight: 800;
    &-types {
        margin: 52px 0;
    }
    &-includes {
        margin-bottom: 51px;
    }
    &-portfolio {
        margin: 71px 0 40px 0;
    }
    &-advance {
        margin: 89px 0 40px 0;
    }

    &-gift {
        margin-top: 75px;
        font-size: 36px;
        &__highlighted {
            color: $blue;
            display: block;
            font-size: 50px;
            line-height: 0.5;
        }
    }

    &-materials {
        margin: 79px 0 40px 0;
    }

    &-reviews {
        margin-top: 79px;
    }
    &-faq {
        margin-top: 79px;
        padding-top: 49px;
    }

    &-audit {
        margin-top: 33px;
        &__highlighted {
            font-size: 40px;
            color: $blue;
            display: block;
        }
    }
}