@media (max-width: 1023px) {
    .btn {
        &-callback {
            height: 40px;
            width: 130px;
        }
    }
}

@media (max-width: 967px) {
    .btn {
        &-callback {
            margin-right: 10%;
        }
    }
}

@media (max-width: 767px) {
    .btn {
        &-main {
            margin-top: 30%;
        }
    }
}

@media (max-width: 676px) {
    .btn {
        &-callback {
            display: none;
        }
    }
}