@media (max-width: 967px) {
    .quiz {
        background: url("../img/header/Quiz_bg_tablet.jpg") (center / cover) no-repeat;
    }
}

@media (max-width: 767px) {
    .quiz {
        .container {
            display: flex;
            flex-direction: column;
        }

        &__title {
            text-align: center;
            font-size: 1.3rem;

            span {
                font-size: 2.5rem;
                margin-top: 60px;
            }
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__promo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        .bonus {
            display: flex;
            align-items: center;

            &__subtitle {
                margin-top: 15%;
                text-align: center;
            }

            &__wrapper {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
            }

            &__first,
            &__second {
                text-align: center;
            }
        }
    }
}

@media (max-width: 424px) {
    .quiz {
        background: url("../img/header/Quiz_bg_mobile.jpg") (center / cover) no-repeat;
    }
}